@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}


.navigation-list,
.slider-description,
.section-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-wrap {
  display: flex;
  margin-top: 30px;
  margin-bottom: 35px;
  justify-content: space-between;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
}

.search-form {
  margin-right: 60px;
}



.navigation-user .navigation-item:nth-child(1) {
  margin-right: 140px;
  padding-left: 26px;
  background-image: url("/images/icons/login.svg");
  background-repeat: no-repeat;
  background-size: 13px 12px;
  background-position: center left;
}

.navigation-user .navigation-item:nth-child(2) {
  padding-left: 22px;
  background-image: url("/images/icons/compare.svg");
  background-repeat: no-repeat;
  background-size: 10px 12px;
  background-position: center left;
}

.navigation-user .navigation-item:nth-child(3) {
  padding-left: 28px;
  background-image: url("/images/icons/basket.svg");
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center left;
}

.navigation-user .navigation-item:not(:nth-child(1)) {
  margin-left: 40px;
}


.navigation-options {
  display: flex;
  margin-bottom: 38px;
  flex-wrap: wrap;
}

.navigation-options .navigation-item:nth-child(1) {
  margin-right: auto;
}

.navigation-options .navigation-item:not(:nth-child(1)) {
  margin-left: 45px;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.page-header {
  background-color: #FFE17F;
  color: #000000;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
  margin-top: 40px;
}

.navigation-link {
  color: inherit;
  text-decoration: none;
}

.navigation-options {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.2em;
}

.options,
.subscription {
  background-color: #F0F0F0;
}

.options-wrap {
  display: flex;
  padding-top: 74px;
}

.options-text {
  width: 500px;
  margin-top: 34px;
}

.section-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
}

.slider-image {
  display: block;
  margin-right: 40px;
  flex-shrink: 0;
}

.section-text {
  margin-top: 30px;
  margin-bottom: 60px;
}

.description-container {
  display: flex;
  margin-right: 20px;
  flex-direction: column-reverse;
}

.description-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 50px;
}

.product-container {
  display: flex;
  margin-bottom: 70px;
}

.catalog-main-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination-prev,
.pagination-next {
  padding: 25px;
}

.button-container {
  width: 160px;
  flex-direction: column;
  margin-right: 247px;
}

.option-button {
  margin-bottom: 35px;
}

.section-container {
  width: 448px;
  margin: 0 auto;
}

.button {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
  display: inline-block;
}

.button-catalog-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
  display: block;
  width: 160px;
  margin-bottom: 70px;
}

.unique-delivery {
  background-color: #F0F0F0;
  margin-top: 70px;
  margin-bottom: 70px;
  background-image: url("/images/icons/truck.svg");
  background-repeat: no-repeat;
  background-size: 47px 31px;
  background-position: center left 40px;
  background-image: url("/images/icons/truck.svg");
}

.unique-delivery-link {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  padding: 40px 125px;
}

.about-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.about {
  width: 520px;
}

.contacts {
  width: 532px;
}

.about-items-info,
.contacts-pickup-info {
  margin-top: 48px;
  margin-bottom: 30px;
  width: 500px;
}

.about-delivery-info {
  margin-bottom: 30px;
}

.about-delivery-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 30px;
  padding-left: 34px;
}

.contacts-subtitle {
  margin-top: 30px;
  margin-bottom: 15px;
}

.contacts-schedule {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
}

.subscription {
padding-top: 64px;
padding-bottom: 70px;
}

.subscription-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscription-info {
  margin-bottom: 157px;
}

.subscription-form {
  flex-grow: 1;
}

.title-subscription {
  width: 348px;
}

.subscription-text {
  margin: 0;
  padding: 0;
  width: 560px;
}

.subscription-additional-info {
  margin: 0;
  padding: 0;
}

.footer-logo {
  display: block;
  margin-top: 62px;
  margin-bottom: 35px;
}

.footer-line1 {
  display: flex;
  align-items: center;
  margin-bottom: 47px;
}

.footer-address {
  width: 260px;
  margin-right: 94px;
}

.footer-line2 {
  display: flex;
  align-items: center;
  padding-bottom: 60px;
}

.footer-rectangle {
  width: 80px;
  height: 7px;
  background-color: #FFC700;
  margin-right: 424px;
}

.footer-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-item:not(:last-child) {
  margin-right: 35px;
}

.description-definition {
  font-size: 36px;
  color: #000000;
  margin: 0 0 12px;
}

.description-term {
  font-size: 16px;
}

.about-delivery-item,
.catalog-filter-option {
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  letter-spacing: -0.02em;
}

.about-delivery-item {
  margin-bottom: 19px;
}

.product-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin: 0;
  padding: 0;
  max-width: 200px;
}

.main-inner {
  flex-grow: 1;
  background-color: #F0F0F0;
}

.header-wrap {
  background-color: #FFFFFF;
  padding-top: 35px;
  padding-bottom: 35px;
}

.inner-header {
  padding-left: 60px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 16px;
  list-style-type: none;
}

.breadcrumbs-item {
  margin: 0;
  padding: 0;
  margin-right: 36px;
}

.control-input {
  font-size: 16px;
  line-height: 19px;
}

.filter-wrap {
  width: 320px;
}

.catalog-right-column {
  background-color: #FFFFFF;
  padding-bottom: 78px;
}

.product-list-wrap {
  background-color: #FFFFFF;
  width: 840px;
  padding-top: 70px;
  padding-right: 40px;
  padding-left: 40px;
}

.product-list,
.button-pagination-show-more {
  background-color: #FFFFFF;
}

.catalog-wrap {
  display: flex;
  padding-top: 25px;
  padding-left: 60px;
}

.product-list {
  margin: 0;
  padding: 0;
  margin-bottom: 44px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 40px 44px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
}

.catalog-filter-wrap {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 25px;
  background-color: #F0F0F0;
}

.catalog-filter-group{
  margin-top: 25px;
}

.button-wrap {
  display: flex;
}

.button-low-to-high {
  width: 11px;
  height: 10px;
  background-color: #000000;
  padding: 10px;
  align-self: center;
  margin-left: 10px;
}

.button-high-to-low {
  width: 11px;
  height: 10px;
  background-color: #000000;
  padding: 10px;
  align-self: center;
  margin-left: 10px;
}

.catalog-filter-title,
.button-pagination-show-more {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 0;
  padding: 0;
}

.product-card-image {
  margin-bottom: 32px;
  display: block;
}

.card-wrap {
  display: flex;
  justify-content: space-between;
}

.button-pagination-show-more {
  text-align: center;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: 44px;
  border: solid 3px #F0F0F0;
  cursor: pointer;
}

.product-card-link {
  text-decoration: none;
  color: #000000;
}

.product-card-price {
  line-height: 21px;
  text-align: right;
  color: #444444;
  margin: 0;
  padding: 0;
}

.pagination {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  background-color: #F0F0F0;
}

.pagination-item {
  color: #444444;
  opacity: 0.3;
}


.pagination-item:first-child {
  margin: 0;
  margin-right: 145px;
  opacity: 1;
}

.pagination-item:last-child {
  margin: 0;
  margin-left: 125px;
  opacity: 1;
}

.pagination-link {

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  text-decoration: none;
  padding: 10px 16px;
}
.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.page-footer {
  background-color: #444444;
  color: #FFFFFF;
}

.contacts-phone,
.footer-link,
.phone {
  color: inherit;
}

.footer-address,
.contacts-address {
  font-style: normal;
}

.contacts-address-text {
  margin: 0;
  padding: 0;
}

.footer-address,
.phone {
  font-size: 16px;
  line-height: 20px;
}

.phone {
  margin: 0;
  padding: 0;
  width: 175px;
  margin-left: 183px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  margin-right: 390px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item {
  margin: 0;
  padding: 0;

}

.footer-social-item:not(:last-child) {
  margin-right: 15px;
}


.button-tg {
  background-image: url("/images/icons/telegram.svg");
  background-repeat: no-repeat;
}

.button-tw {
  background-image: url("/images/icons/twitter.svg");
  background-repeat: no-repeat;
}

.button-youtube {
  background-image: url("/images/icons/youtube.svg");
  background-repeat: no-repeat;
}

.footer-social-link {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.section-item-delivery {
  padding-right: 224px;;
  background-image: url("/images/icons/delivery.svg");
  background-repeat: no-repeat;
  background-size: 136px 164px;
  background-position: center right 20px;
}

.section-item-guarantee {
  padding-right: 224px;
  background-image: url("/images/icons/guarantee.svg");
  background-repeat: no-repeat;
  background-size: 136px 164px;
  background-position: center right 20px;
}

.section-item-credit {
  padding-right: 224px;;
  background-image: url("/images/icons/credit.svg");
  background-repeat: no-repeat;
  background-size: 136px 164px;
  background-position: center right 20px;
}

.icon-vr {
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  background-image: url(/images/icons/virtual_reality_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 33px;
}

.icon-monopode {
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  background-image: url(/images/icons/monopods_icon.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  margin-bottom: 33px;
}

.icon-camera {
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  background-image: url(/images/icons/action_cameras_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 33px;
}

.icon-brace {
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  background-image: url(/images/icons/fitness_bracelets_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 33px;
}

.icon-watches {
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  background-image: url(/images/icons/smart_watches_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 33px;
}

.icon-quadro {
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  background-image: url(/images/icons/quadcopters_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 33px;
}
