@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #FFFFFF;
}

.main-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
  width: 1040px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
}

.navigation-user {
  width: 230px;
  margin-left: auto;
}

.navigation-options {
  margin-left: auto;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.page-header {
  background-color: #FFE17F;
  color: #000000;
}

.navigation-link {
  color: inherit;
  text-decoration: none;
}

.navigation-options {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.2em;
}

.options {
  background-color: #F0F0F0;
}

.section-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  width: 545px;
  margin-left: 40px;
}

.product-text-container {
  flex-direction: column;
  width: 560px;
}

.description-list {
  display: flex;
  justify-content: left;
  margin: 0;
  padding: 0;
}

.product-container {
  display: flex;
  justify-content: space-between;
  width: 1300px;
  flex-wrap: wrap;
}

.description-container {
  width: 200px;
  margin-right: 20px;
}

.catalog-main-list {
  display: flex;
  justify-content: space-between;
}

.button-container {
  width: 160px;
  flex-direction: column;
}

.section-container {
  width: 448px;
  margin: 0 auto;
}


.button {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
}

.button-catalog-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
}

.options-container {
  width: 1160px;
  display: flex;
  flex-direction: column;
}


.unique-delivery-link {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
}

.index-columns {
  display: flex;
  justify-content: space-between;
}

.title-subscription {
  width: 350px;
}
.subscription-info {
  width: 560px;
}

.page-footer-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.footer-address {
  width: 250px;
  margin-right: 125px;
}

.footer-social {
  width: 450px;
  margin-right: 183px;
}

.footer-phone {
  width: 175px;
}


.description-definition {
  font-size: 36px;
  color: #000000;
}

.about-delivery-item,
.catalog-filter-option {
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  letter-spacing: 0.2em;
}

.product-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;

}

.main-inner {
  color: #000000;
}

.control-input {
  font-size: 16px;
  line-height: 19px;
}

.catalog-products {
  background-color: #F0F0F0;
}

.product-list,
.button-pagination-show-more {
  background-color: #FFFFFF;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
}

.catalog-filter-title,
.button-pagination-show-more {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.button-pagination-show-more {
  text-align: center;
}

.product-card-link {
  text-decoration: none;
  color: #000000;
}

.product-card-price {
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.page-footer {
  background-color: #444444;
  color: #FFFFFF;
}

.contacts-phone,
.footer-link,
.phone {
  color: inherit;
}

.footer-address,
.contacts-address {
  font-style: normal;
}

.footer-address,
.phone {
  font-size: 16px;
  line-height: 20px;
}
