@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #FFFFFF;
  min-width: 1440px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation-search {
  position: relative;
  width: 359px;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 48px;
  border: solid 2px #000000;
  background-color: transparent;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-image: url("../images/icons/loupe.svg");
  background-repeat: no-repeat;
  background-position: left 15px center;
  outline: none;
}

.search-form {
  margin-right: 27px;
  display: flex;
}

.search-form-wrap:focus-within {
  outline: solid 2px #AF4FFF;
}

.navigation-search-button {
  margin: 0;
  margin-right: 0;
  padding: 8px 55px;
  background-color: transparent;
  border: solid 2px #000000;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-left: none;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
  outline: none;
}

.navigation-search-button:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.focus-wrap:focus-within {
  outline: solid 2px #AF4FFF;
}

.navigation-search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-search-button:disabled {
  opacity: 0.3;
}

.navigation-button-item {
  position: relative;
  display: flex;
}

.navigation-button {
  display: inline-block;
  padding: 15px 67px 15px 0;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  background-color: transparent;
  border: none;
  position: relative;
  transition: opacity 0.2s ease-in;
}

.navigation-button:hover {
  cursor: pointer;
}

.navigation-button:focus {
  outline: solid 2px #AF4FFF;
}

.plus-button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  border: 2px solid #000000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.3;
}

.plus-button::before {
  position: absolute;
  content: " ";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 16px;
  height: 2px;
  background-color: #000000;
}

.plus-button::after {
  position: absolute;
  content: " ";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 16px;
  height: 2px;
  background-color: #000000;
  transform: rotate(90deg);
  transition: transform 0.2s ease-in;
  opacity: 1;
}

.navigation-button:hover .plus-button::after {
  transform: rotate(360deg);
}

.navigation-button:hover .plus-button,
.navigation-button:active .plus-button {
  opacity: 1;
  z-index: 2;
}

.navigation-button:focus-within {
  outline: solid 2px #AF4FFF;
}

.navigation-button-item:focus-within {
  outline: solid 2px #AF4FFF;
}

.subcatalog {
  display: none;
}

.navigation-button:hover + .subcatalog {
  display: flex;
}

.subcatalog-list {
  margin: 0;
  margin-right: 60px;
  padding: 0;
  list-style-type: none;
}

.main-container {
  flex-grow: 1;
}

.main-header {
  position: relative;
}

.main-header::before {
  content: " ";
  border-bottom: #FFE17F;
  position: absolute;
  right: 0;
  width: 1160px;
  height: 180px;
  bottom: -135px;
  background-color: #FFE17F;
  z-index: -2;
}

.slider-item::after {
  position: absolute;
  content: "01";
  color: #FFFFFF;
  font-family: "Rubik";
  font-weight: 700;
  line-height: 30px;
  font-size: 180px;
  right: 50px;
  top: 80px;
  z-index: -1;
}

.item-02::after {
  content: "02";
}

.item-03::after {
  content: "03";
}

.header-logo {
  display: block;
}

.header-logo-link {
  display: block;
  position: absolute;
  top: -20px;
}

.header-logo-link:hover {
  opacity: 0.6;
}

.header-logo-link:focus {
  outline: solid 2px #AF4FFF;
}

.header-logo-link:active {
  opacity: 0.3;
}

.navigation-list,
.slider-description,
.section-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.section-list {
  margin-left: 124px;
}

.navigation-wrap {
  display: flex;
  margin-top: 45px;
  margin-bottom: 30px;
  align-items: baseline;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
}

.user-login {
  margin-right: 177px;
}
.user-compare {
  margin-right: 33px;
}

.subcatalog {
  margin: 0;
  padding: 23px 60px;
  list-style-type: none;
  position: absolute;
  background-color: #FFE17F;
  width: 1160px;
  height: 180px;
  left: -60px;
  top: 60px;
  z-index: 1;
}

.subcatalog-link {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
  letter-spacing: 0;
}

.subcatalog-item {
  margin-bottom: 20px;
}

.subcatalog-link:hover {
  opacity: 0.6;
}

.subcatalog-link:focus {
  outline: solid 2px #AF4FFF;
}

.subcatalog-link:active {
  opacity: 0.3;
  outline: none;
}

.navigation-icon:hover {
  opacity: 0.6;
}

.navigation-icon:focus {
  outline: solid 2px #AF4FFF;
}

.navigation-icon:active {
  opacity: 0.3;
  outline: none;
}

.navigation-log-in {
  margin-right: 25px;
}

.navigation-log-out {
  opacity: 0.3;
  margin-right: 30px;
}

.basket {
  position: relative;
}

.navigation-svg {
  margin-right: 7px;
}

.count-badge {
  position: absolute;
  left: -15px;
  top: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-radius: 50%;
  background-color: #FFFFFF;
  padding: 2px 7px;
}

.popover-cart {
  position: absolute;
  top: 30px;
  right: -80px;
  z-index: 1;
  box-sizing: border-box;
  width: 320px;
  padding: 20px;
  font-family: "Rubik", sans-serif;
  color: #FFFFFF;
  background-color: #000000;
  min-height: 86px;
}

.popover-cart::after {
  content: '';
  position: absolute;
  right: 160px;
  top: -14px;
  border: 7px solid transparent;
  border-bottom: 7px solid #000000;
}

.popover-content {
  height: 100%;
}

.popover-close-button {
  display: block;
  width: 10px;
  height: 10px;
  background-image: url("../images/icons/cross_white.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  margin-left: auto;
}

.popover-basket:hover {
  background-color: #FFE17F;
}

.popover-basket:focus {
  outline: solid 2px #AF4FFF;
}

.popover-basket:active span,
.popover-basket:disabled span {
  opacity: 0.3;
  outline: none;
}

.popover-term,
.popover-definition {
  margin: 0;
  padding: 0;
}

.popover-wrap {
  display: flex;
  background-color: #1A1A1A;
  margin-top: 23px;
}

.popover-item {
  margin-right: 5px;
}

.popover-sum {
  margin-right: 5px;
  margin-left: auto;
}

.cart-items-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cart-item {
  display: flex;
}

.popover-item-link {
  display: flex;
}

.cart-item:not(:last-child) {
  margin-bottom: 41px;
}

.popover-item-link:hover,
.popover-close-button:hover {
  opacity: 0.6;
}

.popover-item-link:focus,
.popover-close-button:focus {
  outline: solid 2px #AF4FFF;
}

.popover-item-link:active,
.popover-close-button:active {
  opacity: 0.3;
  outline: none;
}

.cart-item-title {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;
  max-width: 160px;
}

.popover-image {
  display: block;
  margin-right: 23px;
}

.popover-basket {
  width: 100%;
  margin-top: 20px;
  padding-top: 14.5px;
  padding-bottom: 14.5px;
  border: none;
  background-color: #FFFFFF;
  line-height: 21px;
}

.navigation-options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-options .navigation-item:nth-child(1) {
  position: relative;
  margin-right: auto;
}

.navigation-options .navigation-item:not(:nth-child(1)) {
  margin-left: 43px;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
  margin-top: -15px;
  position: relative;
}

.page-header {
  position: relative;
  background-color: #FFE17F;
  color: #000000;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
  margin-top: 40px;
}

.navigation-link {
  color: inherit;
  text-decoration: none;
}

.navigation-options {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.2em;
}

.options,
.subscription {
  background-color: #F0F0F0;
}

.options {
  padding-top: 90px;
  position: relative;
  z-index: 0;
}

.options::before {
  content: " ";
  border-bottom: #FFE17F;
  position: absolute;
  width: 100%;
  height: 130px;
  top: -15px;
  background-color: #FFFFFF;
  z-index: -1;
}

.options-wrap {
  display: flex;
  z-index: 2;
  padding-bottom: 135px;
}

.options-text {
  width: 500px;
  margin: 0;
  padding: 0;
  margin-top: 34px;
}

.section-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
}

.slider-button {
  position: absolute;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 20px;
  height: 60px;
}

.slider-left {
  background-image: url("../images/icons/slider_left.svg");
  top: 210px;
  left: 30px;
}

.slider-right {
  background-image: url("../images/icons/slider_right.svg");
  top: 210px;
  right: 600px;
}

.slider-button:hover {
  opacity: 0.5;
}

.slider-button:focus {
  outline: solid 2px #AF4FFF;
}

.slider-button:active {
  opacity: 0.3;
  outline: none;
}

.slider-button:disabled {
  opacity: 0.1;
}

.slider-description {
  position: relative;
}

.slider-pagination {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 375px;
  right: 0;
  display: flex;
  list-style-type: none;
}

.focus-slider-wrap {
  padding: 1px;
  display: flex;
  align-items: center;
}

.slider-pagination-item:not(:first-child) {
  margin-left: 17px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: solid 2px black;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.focus-slider-wrap:focus-within {
  outline: solid 2px #AF4FFF;
}

.slider-pagination-button:active {
  outline: none;
  opacity: 0.3;
}

.slider-pagination-button-current {
  background-color: #000000;
}

.slider-image {
  display: block;
  margin-right: 40px;
  flex-shrink: 0;
}

.yellow-button {
  position: relative;
  border: none;
  background-color: #ffffff00;
  padding: 20px 35px 18px 40px;
  z-index: 3;
}

.yellow-button::before {
  position: absolute;
  content: " ";
  width: 220px;
  height: 8px;
  left: 0;
  bottom: 25px;
  background-color: #FFE17F;
  z-index: -1;
}

.yellow-button:hover {
  background-color: #FFE17F;
}

.yellow-button:focus {
  outline: solid 2px #AF4FFF;
  background-color: transparent;
}

.yellow-button:active {
  background-color: #FFCC33;
  outline: none;
}

.yellow-button:active::before {
  background-color: #FFCC33;
}

.yellow-button:disabled {
  opacity: 0.3;
}

.section-text {
  margin: 0;
  padding: 0;
  margin-top: 27px;
  margin-bottom: 40px;
}

.description-container {
  display: flex;
  margin-right: 23px;
  flex-direction: column-reverse;
  padding-bottom: 14px;
}

.description-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 40px;
}

.product-container {
  display: flex;
  margin-bottom: 70px;
}

.product-text-container {
  align-self: flex-end;
  margin-bottom: 25px;
}

.catalog-main-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-main {
  margin-bottom: 70px;
}

.pagination-big {
  padding: 25px;
}

.pagination-big:hover {
  background-color: #DCDCDC;
}

.pagination-big:focus {
  outline: solid 2px #AF4FFF;
}

.pagination-big:active {
  opacity: 0.7;
  outline: none;
}

.button-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 280px;
}

.options-button {
  margin: 0;
  padding: 10px;
  padding-left: 13px;
  border: none;
  width: 160px;
  position: relative;
  z-index: 2;
  background-color: transparent;
  outline: none;
}

.options-button-rest::before {
  position: absolute;
  content: " ";
  width: 160px;
  height: 8px;
  left: 0;
  bottom: 17px;
  background-color: #FFE17F;
  z-index: -2;
}

.options-button-current {
  background-color: #000000;
  padding-left: 20px;
  padding-right: 260px;
}

.options-button-current span {
  color: #FFE17F;
}

.options-button-current:hover span {
  opacity: 0.5;
}

.options-button-current:focus {
  outline: solid 2px #AF4FFF;
}

.options-button-current:active span {
  opacity: 0.3;
  outline: none;
}

.options-button:not(:last-child) {
  margin-bottom: 35px;
}

.button-container::after {
  content:'';
  position: absolute;
  top: -62px;
  left: 280px;
  height: 319px;
  border-right: 7px solid #000000;
}

.section-container {
  width: 448px;
  margin: 0 auto;
}

.button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.button-catalog-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
  display: block;
  width: 160px;
}

.catalog-item:hover {
  background-color: #FFC700;
  }

.button-catalog-link:focus {
  outline: solid 2px #AF4FFF;
}

.button-catalog-link:active {
  opacity: 0.3;
  outline: none;
}

.unique-delivery {
  position: relative;
  background-color: #F0F0F0;
  margin-top: 70px;
  margin-bottom: 130px;
}

.grey-button:hover {
  opacity: 0.5;
}

.grey-button:focus {
  outline: solid 2px #AF4FFF;
  opacity: 1;
}

.grey-button:active {
  opacity: 0.7;
}

.unique-delivery-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  padding: 40px;
}

.unique-delivery-link::before {
  position: absolute;
  content: " ";
  background-image: url("../images/icons/truck.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #FFE17F;
  width: 125px;
  height: 103px;
  left: 0;
  top: 0;
}

.unique-delivery-link::after {
  position: absolute;
  content: " ";
  background-image: url("../images/icons/i.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #DCDCDC;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  right: 43px;
  top: 30px;
  opacity: 0.7;
}

.unique-delivery-link:hover::before {
  background-color: #FFC700
}

.unique-delivery-link:hover::after {
  opacity: 1;
}

.unique-delivery-link:focus {
  outline: solid 2px #AF4FFF;
}

.unique-delivery-link:active {
  opacity: 0.3;
  outline: none;
}

.about-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.about {
  width: 520px;
}

.about-title {
  position: relative;
}

.about-title::before {
  position: absolute;
  content: " ";
  width: 84px;
  height: 7px;
  top: -48px;
  background-color: #000000;
}

.about-link {
  display: block;
  width: 257px;
  position: relative;
  padding-top: 10px;
  padding-left: 20px;
}

.about-link::before {
  position: absolute;
  content: " ";
  width: 270px;
  height: 8px;
  left: 0;
  top: 16px;
  background-color: #FFE17F;
  z-index: -1;
}

.about-link:hover::before {
  top: 0;
  height: 40px;
}

.about-link:focus {
  outline: solid 2px #AF4FFF;
}

.about-link:active::before {
  top: -10px;
  height: 40px;
  background-color: #FFCC33;
  outline: none;
}

.about-delivery-button::before {
  position: absolute;
  content: " ";
  width: 270px;
  height: 8px;
  left: 0;
  bottom: 25px;
  background-color: #FFE17F;
  z-index: -1;
}

.about-delivery-button {
  padding: 18px 20px 18px 24px;
}

.button-write {
  padding: 18px 33px 18px 34px;
}

.button-write::before {
  width: 259px;
}

.contacts {
  width: 532px;
}

.about-items-info,
.contacts-pickup-info {
  margin-top: 48px;
  margin-bottom: 30px;
  width: 500px;
}

.about-delivery-info {
  margin-bottom: 30px;
}

.about-delivery-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 21px;
  padding-left: 34px;
}

.contacts-subtitle {
  margin-top: 30px;
  margin-bottom: 15px;
}

.contacts-schedule {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 21px;
}

.subscription {
padding-top: 80px;
padding-bottom: 55px;
}

.subscription-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscription-info {
  margin-bottom: 144px;
}

.subscription-form {
  flex-grow: 1;
}

.title-subscription {
  width: 348px;
  padding-left: 8px;
}

.subscription-text {
  margin: 0;
  padding: 0;
  width: 560px;
  padding-left: 5px;
  align-self: flex-end;
}

.subscription-additional-info {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  background-image: url("../images/icons/green_tick.svg");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: center left;
}

.newsletter-email {
  flex-grow: 1;
  margin: 0;
}

.field {
  width: 557px;
  border: none;
  background-color: inherit;
  border-bottom: solid 2px #C4C4C4;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  outline: none;
  padding-top: 5px;
  padding-left: 18px;
}

.newsletter-form {
  display: flex;
}

.subscription-button {
  border: solid 3px #C4C4C4;
  padding: 15px 35px 15px 37px;
  text-align: center;
  background-color: transparent;
}

.subscription-button:hover {
  background-color: #000000;
  border-color: #000000;
  color: #FFFFFF;
}

.subscription-button:focus {
  outline: solid 2px #AF4FFF;
}

.subscription-button:active span {
  opacity: 0.3;
  outline: none;
}

.subscription-button:disabled {
  opacity: 0.3;
}


.footer-line1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 45px;
}

.footer-address {
  width: 260px;
  margin-right: 110px;
}

.footer-line2 {
  display: flex;
  align-items: baseline;
  padding-bottom: 60px;
}

.footer-rectangle {
  width: 80px;
  height: 7px;
  background-color: #FFC700;
  margin-right: 424px;
  align-self: center;
}

.footer-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-item:not(:last-child) {
  margin-right: 32px;
}

.description-definition {
  font-size: 36px;
  color: #000000;
  margin: 0 0 12px;
}

.description-term {
  font-size: 16px;
}

.about-delivery-item,
.catalog-filter-option {
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  letter-spacing: -0.02em;
}

.about-delivery-item {
  position: relative;
}

.about-delivery-item:not(:last-child) {
  margin-bottom: 19px;
}

.about-delivery-item::before {
  position: absolute;
  content: " ";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FFC700;
  left: -30px;
  top: 5px;
}

.product-card-title,
.filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin: 0;
  padding: 0;
  max-width: 201px;
  color: #000000;
}

.filter-title {
  position: relative;
}

.filter-title::before {
  position: absolute;
  content: " ";
  width: 200px;
  border-top: solid 2px #000000;
  top: -14px;
}


.main-inner {
  flex-grow: 1;
  background-color: #F0F0F0;
}

.header-wrap {
  background-color: #FFFFFF;
  padding-top: 35px;
  padding-bottom: 13px;
}

.header-catalog {
  padding-bottom: 20px;
}

.inner-header {
  padding-top: 15px;
  padding-left: 60px;
}

.catalog-filter-title,
.catalog-sort-title,
.button-pagination-show-more {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  margin-bottom: 71px;
}

.catalog-sort-title {
  margin-right: 203px;
}

.price-title {
  margin-bottom: 28px;
}

.color-title,
.bluetooth-title {
  margin-bottom: 15px;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 6px;
  background-color: #DCDCDC;
}

.range-bar {
  position: absolute;
  right: 50px;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #EBEBEB;
  border: 2px solid #242424;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.range-toggle::after {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  content: "";
}

.range-toggle:focus::after  {
  outline: solid 2px #AF4FFF;
}


.range-toggle:hover {
  opacity: 0.5;
}

.range-toggle:active {
  background-color: #000000;
  opacity: 1;
  outline: none;
}

.toggle-min {
  top: -8px;
  left: -16px;
}

.toggle-max {
  top: -8px;
  right: -16px;
}

.range-wrapper-inputs {
  margin-left: -15px;
}

.catalog-filter-label {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.3)
}


.price-min {
  margin-right: 70px;
}

.price-min:focus,
.price-max:focus {
  outline: solid 2px #AF4FFF;
}


.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-group {
  margin: 0;
  margin-top: 25px;
  padding: 0;
  border: none;
}

.price-group {
  margin-bottom: 43px;
}

.color-group {
  margin-bottom: 42px;
}

.bluetooth-group {
  margin-bottom: 23px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.color-filter-item:not(:last-child) {
  margin-bottom: 7px;
}

.bluetooth-filter-item:not(:last-child) {
  margin-bottom: 10px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  color: #000000;
  font-size: 16px;
}
.control-mark,
.control-mark-radio {
  position: absolute;
  top: 5px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #CCCCCC;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control:disabled {
  opacity: 0.1;
}

.control-input:focus + .control-mark,
.control-input:focus + .control-mark-radio::after {
  outline: solid 2px #AF4FFF;
}

.control-input[type="checkbox"]:checked + .control-mark,
.control-input[type="radio"]:checked + .control-mark-radio {
  border-color: #000000;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  content: url("../images/icons/black_tick.svg");
  top: -8px;
  left: 3px;
  width: 10px;
  height: 10px;
}

.control-mark-radio {
  border-radius: 50%;
}

.radio-wrap {
  background-color: tomato;
}

.control-input[type="radio"]:checked + .control-mark-radio::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #242424;
  border-radius: 50%;
  content: "";
}

.control-input[type="radio"] + .control-mark-radio::after {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  content: "";
}

.select-control {
  border: none;
  padding-right: 40px;
  background-color: transparent;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-image: url("../images/icons/select.svg");
  background-position: right 16px center;
  background-repeat: no-repeat;
  appearance: none;
}

.select-control:hover {
  opacity: 0.6;
  cursor: pointer;
}

.select-control:focus {
  outline: solid 2px #AF4FFF;
}

.select-control:active {
  opacity: 0.3;
  outline: none;
}

.select-control:disabled {
  opacity: 0.1;
}

.catalog-filter-button {
  padding: 18px 47px 18px 49px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 10px;
  list-style-type: none;
}

.breadcrumbs-item {
  color: #000000;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 37px;
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  content: url("../images/icons/slider_small_right.svg");
  opacity: 0.2;
  right: -20px;
  top: -3px;
}

.breadcrumbs-item:hover {
  opacity: 0.9;
}

.breadcrumbs-item:focus {
  outline: solid 2px #AF4FFF;
}

.breadcrumbs-item:active {
  opacity: 0.8;
  outline: none;
}

.control-input {
  font-size: 16px;
  line-height: 19px;
}

.filter-wrap {
  width: 320px;
  padding-top: 5px;
  padding-left: 60px;
  padding-right: 40px;
}

.product-list-wrap {
  background-color: #FFFFFF;
  width: 840px;
  padding: 70px 40px 78px;
}

.product-list,
.button-pagination-show-more {
  background-color: #FFFFFF;
}

.catalog-wrap {
  display: flex;
  padding-top: 35px;
}

.product-list {
  margin: 0;
  padding: 0;
  margin-bottom: 44px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 44px 40px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
}

.catalog-filter-wrap {
  display: flex;
  align-items: center;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 20px;
  background-color: #F0F0F0;
}

.button-wrap {
  display: flex;
  margin-left: auto;
}

.button-sort {
  width: 11px;
  height: 10px;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  padding: 11px;
  margin-left: 13px;
}

.button-low-to-high {
  background-image: url("../images/icons/sort_up.svg");
  opacity: 0.3;
}

.button-high-to-low {
  background-image: url("../images/icons/sort_down.svg");
  opacity: 0.3;
}

.product-card-image {
  margin-bottom: 32px;
  display: block;
}

.card-wrap {
  display: flex;
  justify-content: space-between;
}

.product-card {
  position: relative;
}

.product-card-more {
  position: absolute;
  top: 195px;
  left: 107px;
  z-index: -1;
}

.product-card-more::before {
  content: " ";
  position: absolute;
  width: 220px;
  height: 8px;
  right: 10px;
  left: -40px;
  bottom: 5px;
  background-color: #FFE17F;
  z-index: -1;
}

 .product-card:nth-child(2)::before {
  display: block;
  position: absolute;
  content: "New";
  font-family: "Raleway", sans-serif;
  line-height: 16.44px;
  text-align: center;
  text-transform: uppercase;
  width: 60px;
  height: 60px;
  top: 27px;
  right: 27px;
  border: solid 2px rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
  padding: 20px 5px;
}

.product-card-link {
  display: block;
  text-decoration: none;
  color: #000000;
}

.product-transparent-image {
  display: none;
}

.product-transparent-image {
  position: absolute;
  width: 360px;
  height: 380px;
  background-color: rgba(240, 240, 240, 0.8);
}

.product-card-link:hover .product-transparent-image {
  display: block;
}

.product-card-link:hover .card-wrap {
  opacity: 0.6;
}

.product-card-link:hover .product-card-more {
  z-index: 1;
}

.product-card-link:focus {
  outline: solid 2px #AF4FFF;
}

.product-card-link:active {
  outline: none;
}

.product-card-link:active .product-card-more::before {
  background-color: #FFC700;
}

.product-card-link:active .card-wrap {
  opacity: 0.3;
}

.button-pagination-show-more {
  text-align: center;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  border: solid 3px #F0F0F0;
  cursor: pointer;
}

.button-pagination-show-more:hover {
  border: solid 3px #000000;
}

.button-pagination-show-more:focus {
  outline: solid 2px #AF4FFF;
}

.button-pagination-show-more:active {
  opacity: 0.3;
  outline: none;
}

.button-pagination-show-more:disabled {
  opacity: 0.3;
}

.product-card-price {
  line-height: 21px;
  text-align: right;
  color: #444444;
  margin: 0;
  padding: 0;
}

.pagination {
  padding: 0;
  margin: 0;
  margin-top: 44px;
  display: flex;
  align-items: center;
  list-style-type: none;
  background-color: #EBEBEB;
}

.pagination-item {
  color: #444444;
}

.pagination-item:first-child {
  margin: 0;
  margin-right: 145px;
}

.pagination-item:last-child {
  margin: 0;
  margin-left: 147px;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  text-decoration: none;
  padding: 10px 15px;
  opacity: 0.3;
}

.pagination-item:nth-child(6) .pagination-link {
  padding: 10px 10px;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.page-footer {
  background-color: #444444;
  color: #FFFFFF;
}

.contacts-phone,
.footer-link,
.phone {
  color: inherit;
}

.contacts-phone {
  outline: none;
}

.footer-link:hover {
  color: #FFC700;
  border-bottom: solid 2px #FFC700;
}

.footer-link:focus {
  outline: solid 2px #AF4FFF;
}

.footer-link:active {
  color: #FFC700;
  border-bottom: solid 2px #FFC700;
  opacity: 0.5;
  outline: none;
}

.footer-address,
.contacts-address {
  font-style: normal;
}

.contacts-address-text {
  margin: 0;
  padding: 0;
}

.footer-address,
.phone {
  font-size: 16px;
  line-height: 20px;
}

.phone {
  margin: 0;
  padding: 0;
  width: 185px;
  margin-left: 175px;
  align-self: center;
  padding-bottom: 10px;
}

.phone:hover {
  color: #FFC700;
}

.phone:focus {
  outline: solid 2px #AF4FFF;
}

.phonek:active {
  color: #FFC700;
  opacity: 0.5;
  outline: none;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  margin-right: 390px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item {
  margin: 0;
  padding: 0;
}

.footer-social-item:not(:last-child) {
  margin-right: 15px;
}

.logo-htmlacademy {
  display: block;
}

.button-tg {
  background-image: url("../images/icons/telegram.svg");
  background-repeat: no-repeat;
}

.button-tw {
  background-image: url("../images/icons/twitter.svg");
  background-repeat: no-repeat;
}

.button-youtube {
  background-image: url("../images/icons/youtube.svg");
  background-repeat: no-repeat;
}

.footer-social-link {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.footer-social-link:hover {
  background-color: #FFC700;
  opacity: 0.8;
}

.footer-social-item:focus-within {
  outline: solid 2px #AF4FFF;
}

.footer-social-link:focus {
  outline: none;
}

.footer-social-link:active {
  color: #FFC700;
  opacity: 0.5;
  outline: none;
}

.section-item {
  padding-right: 215px;
  padding-top: 10px;
  background-repeat: no-repeat;
  background-size: 136px 164px;
  background-position: center right 20px;
}

.section-item:not(:first-child) {
  padding-top: 100px;
}

.icon-delivery {
  background-image: url("../images/icons/delivery.svg");
}

.icon-guarantee {
  background-image: url("../images/icons/guarantee.svg");
}

.icon-credit {
  background-image: url("../images/icons/credit.svg");
}

.catalog-item {
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  background-repeat: no-repeat;
  margin-bottom: 32px;
}

.icon-vr {
  background-image: url(../images/icons/virtual_reality_icon.svg);
  background-position: center;
}

.icon-monopode {
  background-image: url(../images/icons/monopods_icon.svg);
  background-position: bottom;
}

.icon-camera {
  background-image: url(../images/icons/action_cameras_icon.svg);
  background-position: center;
}

.icon-brace {
  background-image: url(../images/icons/fitness_bracelets_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-watches {
  background-image: url(../images/icons/smart_watches_icon.svg);
  background-position: center;
}

.icon-quadro {
  background-image: url(../images/icons/quadcopters_icon.svg);
  background-position: center;
}
.htmlacademy-logo {
  fill: #FFC700;
}

.htmlacademy-logo:hover,
.phone:hover {
  fill: #FFFFFF;
}

.htmlacademy-link:focus,
.phone:focus {
  outline: solid 2px #AF4FFF;
}

.htmlacademy-logo:active,
.phone:hover {
  fill: #FFFFFF;
  opacity: 0.5;
  outline: none;
}

.footer-logo {
  display: block;
  margin-top: 78px;
  margin-bottom: 35px;
  width: 145px;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:focus {
  outline: solid 2px #AF4FFF;
}

.footer-logo:active {
  opacity: 0.3;
  outline: none;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
  z-index: 3;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 52px 70px;
  background-color: #ffffff;
}

.modal-delivery {
  width: 920px;
  border: solid 10px #000000;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 73px;
  right: 70px;
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  border: none;
  background-image: url("../images/icons/close_modal.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:focus {
  outline: solid 2px #AF4FFF;
}

.modal-close-button:active {
  outline: none;
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  margin-bottom: 41px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.modal-text {
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.auth-form-field {
  width: 360px;
  height: 60px;
  border: none;
  background-color: #F0F0F0;
  padding: 20px;
  font-size: 16px;
}

.auth-form-field:hover {
  background-color: #DCDCDC;
}

.auth-form-field:focus {
  outline: solid 2px #AF4FFF;
}

.auth-form-field:invalid {
  outline: solid 2px #FF3D3D;
}

.auth-form-field:invalid + .auth-email-text {
  color: #FF3D3D;
}

.auth-form-field:disabled {
  opacity: 0.3;
}

.modal-wrap {
  display: flex;
  margin-bottom: 38px;
}

.field-email,
.auth-number {
  margin-left: 40px;
}

.auth-amount {
  align-self: flex-start;
}

.name-field {
  background-image: url("../images/icons/login_modal.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.email-field {
  background-image: url("../images/icons/email_modal.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.item-field {
  width: 540px;
}

.amount-button {
  width: 60px;
  height: 60px;
  margin: 0;
  border: none;
  background-color: #F0F0F0;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  text-align: center;
  padding-top: 20px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  position: absolute;
}

.amount-button:hover {
  background-color: #EBEBEB;
}

.amount-button:focus {
  outline: solid 2px #AF4FFF;
}

.amount-button:active {
  background-color: #EBEBEB;
  opacity: 0.5;
  outline: none;
}

.amount-button:disabled {
  opacity: 0.3;
}

.modal-plus {
  right: 70px;
  background-image: url("../images/icons/plus_modal.svg");
}

.modal-minus {
  right: 190px;
  background-image: url("../images/icons/minus_modal.svg");
}

.modal-info-amount {
  margin: 0;
  padding: 0;
  margin-right: 10px;
  align-self: flex-start;
}

.tooltip-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.tooltip-icon {
  width: 26px;
  height: 26px;
  background-color: #FFE17F;
  border-radius: 50%;
  background-image: url("../images/icons/i.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.tooltip-text {
  position: absolute;
  bottom: 27px;
  right: 65px;
  background-color: #000000;
  width: 200px;
  padding: 20px;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  z-index: -1;
}

.tooltip-text::after {
  content:' ';
  position: absolute;
  right: 43px;
  top: -14px;
  border: 7px solid transparent;
  border-bottom: 7px solid #000000;
}

.tooltip-icon:hover + .tooltip-text {
  z-index: 1;
}

.tooltip-icon:focus {
  outline: solid 2px #AF4FFF;
}

.tooltip-icon:focus + .tooltip-text {
  z-index: 1;
}

.amount-wrap {
  display: flex;
}

.modal-amount {
  margin-bottom: 34px;
}

.modal-submit-button {
  padding: 18px 40px 18px 40px;
}

.modal-submit-button::before {
  width: 220px;
}

.modal-amount-input {
  background-color: #F0F0F0;
  border: none;
  position: relative;
  width: 180px;
  height: 60px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  appearance: textfield;
  margin: 0;
  padding: 0;
  outline: none;
  padding-left: 60px;
  padding-right: 60px;
}

.modal-amount-input:invalid {
  outline: solid 2px #FF3D3D;
}

.auth-email-text {
  margin: 0;
  margin-top: -5px;
  padding: 0;
  font-size: 14px;
  color: #000000;
}

/* .modal-container {
  display: none;
}  */
